USE [dbFitnessApp_1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[_Categories]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo._Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exercise]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MuscleGroupID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Image] [varchar](255) NULL,
	[Video] [varchar](255) NULL,
 CONSTRAINT [PK_EXERCISE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Thigh] [decimal](18, 1) NULL,
	[Calf] [decimal](18, 1) NULL,
	[Chest] [decimal](18, 1) NULL,
	[Arm] [decimal](18, 1) NULL,
	[Forearm] [decimal](18, 1) NULL,
	[Waist] [decimal](18, 1) NULL,
	[Shoulder] [decimal](18, 1) NULL,
	[Weight] [decimal](18, 1) NULL,
	[Fat] [decimal](18, 1) NULL,
 CONSTRAINT [PK_Measurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MuscleGroup]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuscleGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MUSCLEGROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Program]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Created] [date] NOT NULL,
	[Notes] [text] NOT NULL,
 CONSTRAINT [PK_PROGRAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Session]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Sorting] [int] NOT NULL,
	[ProgramID] [int] NOT NULL,
	[Notes] [text] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_SESSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionItem]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[ExerciseID] [int] NOT NULL,
	[Sets] [int] NOT NULL,
	[Reps] [int] NULL,
	[Pause] [int] NOT NULL,
	[Notes] [text] NULL,
	[LastRun] [date] NULL,
 CONSTRAINT [PK_SESSIONITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionWeight]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionWeight](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SessionItemID] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_SESSIONWEIGHT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 04-10-2018 12:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Role] [varchar](255) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[_Categories] ON 

INSERT [dbo].[_Categories] ([Id], [Name]) VALUES (1, N'')
INSERT [dbo].[_Categories] ([Id], [Name]) VALUES (2, N'')
SET IDENTITY_INSERT [dbo].[_Categories] OFF
SET IDENTITY_INSERT [dbo].[Exercise] ON 

INSERT [dbo].[Exercise] ([ID], [MuscleGroupID], [Name], [Image], [Video]) VALUES (1, 1, N'Squat', N'Squat.jpg', N'https://www.youtube.com/embed/Dy28eq2PjcM')
INSERT [dbo].[Exercise] ([ID], [MuscleGroupID], [Name], [Image], [Video]) VALUES (2, 1, N'Lunges', N'lunges.jpg', N'https://www.youtube.com/embed/D7KaRcUTQeE')
INSERT [dbo].[Exercise] ([ID], [MuscleGroupID], [Name], [Image], [Video]) VALUES (3, 1, N'Calf raises', N'calf-raises.jpg', N'https://www.youtube.com/embed/3UWi44yN-wM')
SET IDENTITY_INSERT [dbo].[Exercise] OFF
SET IDENTITY_INSERT [dbo].[MuscleGroup] ON 

INSERT [dbo].[MuscleGroup] ([ID], [Name]) VALUES (1, N'Ben')
INSERT [dbo].[MuscleGroup] ([ID], [Name]) VALUES (2, N'Bryst')
INSERT [dbo].[MuscleGroup] ([ID], [Name]) VALUES (3, N'Ryg')
SET IDENTITY_INSERT [dbo].[MuscleGroup] OFF
SET IDENTITY_INSERT [dbo].[Program] ON 

SET IDENTITY_INSERT [dbo].[Program] OFF
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([ID], [Name], [Sorting], [ProgramID], [Notes], [UserID]) VALUES (5, N'Mandag', 1, 2, N'Mandag', 1)
INSERT [dbo].[Session] ([ID], [Name], [Sorting], [ProgramID], [Notes], [UserID]) VALUES (6, N'Onsdag', 2, 2, N'Onsdag', 1)
INSERT [dbo].[Session] ([ID], [Name], [Sorting], [ProgramID], [Notes], [UserID]) VALUES (7, N'Fredag', 3, 2, N'Lørdag', 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
SET IDENTITY_INSERT [dbo].[SessionItem] ON 

INSERT [dbo].[SessionItem] ([ID], [SessionID], [ExerciseID], [Sets], [Reps], [Pause], [Notes], [LastRun]) VALUES (2, 5, 1, 4, 10, 2, N'Husk, fokus på teknikken', CAST(N'2018-08-13' AS Date))
INSERT [dbo].[SessionItem] ([ID], [SessionID], [ExerciseID], [Sets], [Reps], [Pause], [Notes], [LastRun]) VALUES (3, 5, 5, 2, 12, 60, N'', CAST(N'2018-04-30' AS Date))
INSERT [dbo].[SessionItem] ([ID], [SessionID], [ExerciseID], [Sets], [Reps], [Pause], [Notes], [LastRun]) VALUES (4, 5, 6, 2, 12, 60, N'', CAST(N'2018-04-30' AS Date))
GO
SET IDENTITY_INSERT [dbo].[SessionItem] OFF
SET IDENTITY_INSERT [dbo].[SessionWeight] ON 

INSERT [dbo].[SessionWeight] ([ID], [SessionItemID], [Weight], [Time]) VALUES (1, 4, 50, CAST(N'2018-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[SessionWeight] ([ID], [SessionItemID], [Weight], [Time]) VALUES (3, 4, 60, CAST(N'2018-10-11T00:00:00.000' AS DateTime))
INSERT [dbo].[SessionWeight] ([ID], [SessionItemID], [Weight], [Time]) VALUES (4, 4, 70, CAST(N'2018-10-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SessionWeight] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [Email], [Role]) VALUES (1, N'Henrik Obsen', N'2911', N'2911', N'hto@djes.dk', N'User')
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [Email], [Role]) VALUES (2, N'Test', N'Test', N'Test', N'test@test2.dk', N'User')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [Exercise_fk0] FOREIGN KEY([MuscleGroupID])
REFERENCES [dbo].[MuscleGroup] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [Exercise_fk0]
GO
ALTER TABLE [dbo].[Program]  WITH CHECK ADD  CONSTRAINT [Program_fk0] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Program] CHECK CONSTRAINT [Program_fk0]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [Session_fk0] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Program] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [Session_fk0]
GO
ALTER TABLE [dbo].[SessionItem]  WITH CHECK ADD  CONSTRAINT [SessionItem_fk0] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Session] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SessionItem] CHECK CONSTRAINT [SessionItem_fk0]
GO
ALTER TABLE [dbo].[SessionItem]  WITH CHECK ADD  CONSTRAINT [SessionItem_fk1] FOREIGN KEY([ExerciseID])
REFERENCES [dbo].[Exercise] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SessionItem] CHECK CONSTRAINT [SessionItem_fk1]
GO
ALTER TABLE [dbo].[SessionWeight]  WITH CHECK ADD  CONSTRAINT [SessionWeight_fk0] FOREIGN KEY([SessionItemID])
REFERENCES [dbo].[SessionItem] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SessionWeight] CHECK CONSTRAINT [SessionWeight_fk0]
GO
